<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/admin/admin-main.css"/>
</head>
<body>
<div class="header" th:replace="fragments/header.html::header"></div>
    <div class="choice-admin">
        <div class="car-list">
            <button type="button" class="car-list-button">
                <a href="/admin/car">Car list</a>
            </button>
        </div>
    </div>
</body>
</html>