<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="header" th:fragment="header">
        <div class="user">
            <a href="/rates/catalog">Rental rates</a>
        </div>
        <div class="user">
            <a href="/car/catalog">Cars to order</a>
        </div>
        <div class="user">

        </div>
        <div class="user" th:if="${user} ne null">
            <a th:href="${'/authAccount/' + user.getId()}" th:text="${user.getProfile().getFirstName() + ' ' + user.getProfile().getLastName()}"/>
            <a th:href="${'/authAccount/' + user.getId() + '/orders'}">Orders</a>
            <a href="/auth/logout">Log out</a>
        </div>
        <div class="user" th:unless="${user} ne null">
            <a href="/auth/login">Sing in</a>
            <a href="/auth/register">Sing up</a>
        </div>
    </div>
</body>
</html>