.header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    max-height: 60px;
    z-index: 100;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

a {
    margin-top: 30px;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 18pt;
}

.user {
    padding-top: 15px;
}

a:hover {
    background: #383456;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}