body {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
    max-width: 100%;
}

html {
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}